.App {
  font-family: sans-serif;
  text-align: center;
}

.firstContainer {
  padding: 50px;
}

.container {
  width: 100%;
}

.panel {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.lastContainer {
  padding: 50px;
}
